<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="javascripts/chart-app.js"></script>
  </head>
  <body ng-app='simple-chart'>
    <div ng-controller="MainController">
      <div id="chart_div" style="width: 900px; height: 500px;"></div>
    </div>
  </body>
</html>